@model LikewizeRetailApp.Models.Questions
@{
    ViewBag.Title = "CreateQuestions_Mst";
}

<h2>Create Question</h2>
<hr />



@using (Html.BeginForm("CreateQuestions_Mst", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.QuestionID)




        <div>
            <b>Question</b>
            <div>
                @Html.TextAreaFor(model => model.Question, new { rows = "8", cols = "25" , @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })
            </div>
        </div><br />




        <div>
            <b>Category</b>
            <div>
                @*@Html.EditorFor(model => model.Answer)*@
                @Html.DropDownListFor(model => model.Answer, ViewBag.ProductTypeList as List<SelectListItem>, "-select-", new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
            </div>
        </div><br />


        <div>
            <div>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>

    </div>

}