@model LikewizeRetailApp.Models.CustomerDetails
@{
    ViewBag.Title = "CreateCustomerDetails_Mst";
}
@*@{ 
    Layout = null;
}*@
@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
<script src="~/Scripts/Custom.js"></script>
@*<script>
    function CheckEmail() {
        var email1 = $("#Email").val();
        console.log(email1);
        $.ajax({
           
            type: 'POST',
            url: '/Admin/ValidateEmail',
            data: '{ email: "' + email1 + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (Count) {
                var message = $("#spanmsg");

                if (Count == "Yes") {
                    message.html("Email id is not available");
                    message.css("color", "red");
                }
                else {
                    message.html("Email id is available");
                    message.css("color", "green");
                }
            }
        })
    }

    function PageValidation() {
        var email = document.getElementById("Email");
        var customername = document.getElementById("CustomerName");
        var phonenumber = document.getElementById("PhoneNumber");
        var customermessage = $("#spanmsg1");
        var message = $("#spanmsg");
        var phonemessage = $("#spanmsg3");
        if (email.value.trim() == "") {
            message.html("This field is required");
            message.css("color", "red");
        }
        if (customername.value.trim() == "") {
            customermessage.html("This field is required");
            customermessage.css("color", "red");
        }
        if (phonenumber.value.trim() == "") {
            phonemessage.html("This field is required");
            phonemessage.css("color", "red");
        }

        if (email.value.trim() == "" || customername.value.trim() == "" || phonenumber.value.trim() == "") {
            return false;
        }
        else {
            return true;
        }
    }
</script>*@

<body style="padding:2px";>
    <h2>Create Customer</h2>
    <hr />



    @using (Html.BeginForm("CreateCustomerDetails_Mst", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CustomerDetailsID)




            <div class="form-group">
                @*@Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label class="control-label col-md-2"><b>Customer Name</b></label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                    <span id="spanmsg1"></span>
                </div>
            </div>




            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @onkeyup = "CheckEmail()" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    <span id="spanmsg"></span>

                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label class = "control-label col-md-2"><b>Phone Number</b></label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    <span id="spanmsg3"></span>
                </div>
            </div><br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" onclick="return PageValidation();"/>&nbsp;@*<a href="@Url.Action("GetCustomerDetails_Mst", "Admin")" class="btn btn-primary">Back to list</a>*@
                </div><br />
            </div>

        </div>

    }
</body>